.playarea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7d6ba;
}
.board {
    background-color: #a1562f;
    padding: 10px;
    margin: auto auto;
}
.board-row {
    display: flex;
    flex-direction: row;
}
.box {
    background-color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}
.box-played {
    background-color: #ddd8d8;
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: no-drop;
}
.winning-text {
    font-size: 26px;
    color: #2c3fdf;
    font-weight: bold;
    margin-top: 20%;
}
.draw-text {
    font-size: 26px;
    color: #bb5d1a;
    font-weight: bold;
    margin-top: 20%;
}